<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Module2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Home_Vendor.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VendorController</display-name>
    <servlet-name>VendorController</servlet-name>
    <servlet-class>vendor.servlet.VendorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorController</servlet-name>
    <url-pattern>/VendorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>vendor.servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServelet</display-name>
    <servlet-name>ProductServelet</servlet-name>
    <servlet-class>vendor.servlet.ProductServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServelet</servlet-name>
    <url-pattern>/ProductServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorHome</display-name>
    <servlet-name>VendorHome</servlet-name>
    <servlet-class>vendor.servlet.VendorHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorHome</servlet-name>
    <url-pattern>/VendorHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorEmployeeController</display-name>
    <servlet-name>VendorEmployeeController</servlet-name>
    <servlet-class>vendor.servlet.VendorEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorEmployeeController</servlet-name>
    <url-pattern>/VendorEmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TruckController</display-name>
    <servlet-name>TruckController</servlet-name>
    <servlet-class>vendor.servlet.TruckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckController</servlet-name>
    <url-pattern>/TruckController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillServlet</display-name>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>vendor.servlet.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/BillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginController</display-name>
    <servlet-name>EmployeeLoginController</servlet-name>
    <servlet-class>vendor.servlet.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginController</servlet-name>
    <url-pattern>/EmployeeLoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EmpTruckController</display-name>
    <servlet-name>EmpTruckController</servlet-name>
    <servlet-class>vendor.servlet.EmpTruckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpTruckController</servlet-name>
    <url-pattern>/EmpTruckController</url-pattern>
  </servlet-mapping>
  <error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
  <context-param>
  <param-name>Log-4j-Location</param-name>
  <param-value>WEB-INF/classes/log4j.properties</param-value>
  </context-param>
</web-app>